body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#menu {
  padding: 1px 0px 2px 0px;
  display: flex;
  width: 100vw;
  height: 40px;
  background-color: rgb(77, 77, 77);
}

main {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: calc(100% - 40px);
  background-color: rgb(37, 37, 37);
}

.canvas-box {
  display: grid;
  place-items: center;
  width: 75%;
  height: 100%;
  background-color: rgb(56, 56, 56);
}

.canvas {
  position: relative;
  width: 80%;
  height: 80%;
}

#tools-menu {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 100%;
  background-color: rgb(77, 77, 77);
}

.tool {
  cursor: pointer;
  background-color: rgb(77, 77, 77);
  border: none;
  width: 100%;
  height: 40px;
  color: white;
}

.tool:hover {
  background-color: rgb(109, 109, 109);
}

.tool.active {
  background-color: rgb(69, 69, 255);
}

canvas {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#tools {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(179, 179, 179);
}

.btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  width: 100%;
  height: 70%;
}

.slider-form {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(77, 77, 77);
  width: 100%;
  height: 40px;
}

.slider-form label {
  color: white;
  font-size: 13px;
}

.slider-form:hover {
  background-color: rgb(109, 109, 109);
}

.weight-value {
  font-size: 13px;
  color: white;
  margin: 0;
}

/* Slider Style */

#weight {
  -webkit-appearance: none;
  width: 90%;
  background: transparent;
}

#weight::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#weight:focus {
  outline: none; 
}

#weight::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

#weight::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 2px;
  border-radius: 3px;
  background: rgb(36, 36, 36);
  cursor: pointer;
  margin-top: -2px;
}

/* All the same stuff for Firefox */
#weight::-moz-range-thumb {
  height: 10px;
  width: 2px;
  border-radius: 3px;
  background: rgb(36, 36, 36);
  cursor: pointer;
}

#weight::-webkit-slider-runnable-track {
  width: 90%;
  height: 5px;
  cursor: pointer;
  background: rgb(102, 102, 102);
  border-radius: 1.3px;
}

#weight:focus::-webkit-slider-runnable-track {
  background: rgb(134, 134, 134);
}

#weight::-moz-range-track {
  width: 90%;
  height: 5px;
  cursor: pointer;
  background: rgb(102, 102, 102);
  border-radius: 1.3px;
}

#weight::-ms-track {
  width: 90%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

#weight::-ms-fill-lower {
  background: rgb(102, 102, 102);
  border-radius: 2.6px;
}

#weight:focus::-ms-fill-lower {
  background: rgb(134, 134, 134);
}

#weight::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#weight:focus::-ms-fill-upper {
  background: #367ebd;
}

.text {
  background-image: url(assets/font.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 50%;
} 

.para {
  margin-bottom: auto;
}

.eraserRange {
  pointer-events: none;
  position: absolute;
  display: block;
  border-radius: 50%;
  border: 1px solid black;
  cursor: none;
}

#shapes {
  display: grid;
  place-items: center;
  width: 20%;
  height: 100%;
}

.container {
  width: 100%;
  height: 80%;
  display: grid;
  padding-left: 4px;
  margin-left: 4px;
  gap: 5px;
  grid-template-columns: 20px 20px 20px 20px;
  grid-template-rows: 20px;
  background-color: rgb(245, 245, 245);
}

.shape {
  cursor: pointer;
}

.line {
  background-image: url(assets/diagonal-line.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.triangle {
  background-image: url(assets/triangle.png);
}

.square {
  background-image: url(assets/square.png);
}

.begin, .end, .cursorLine {
  pointer-events: none;
  cursor: none;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid rgb(70, 70, 243);
}

.lineDiv {
  height: 1px;
  background-color: black;
  position: absolute;
}

#colors {
  display: flex;
  width: 40%;
  height: 100%;
  margin-left: 10px;
}

#box {
  box-sizing: border-box;
  display: flex;
  width: 25%;
  height: 100%;
}

.first, .second {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.firstColor, .secondColor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  place-items: center;
  width: 100%;
  height: 70%;
}

.color {
  margin-top: 4px;
  width: 80%;
  height: 100%;
  border: 1px solid black;
}

button p {
  margin: 0;
  height: min-content;
}

#colorGrid {
  margin: 5px 0 0 5px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 50%;
  height: 80%;
  background-color: white;
}

.smColor {
  border: 1px solid rgb(73, 73, 73);
}

.secondColor.active, .firstColor.active {
  background-color: rgba(70, 70, 243, .3);
  border-radius: 3px;
  border: 1px solid gray;
}

#lineSize {
  width: 10%;
  height: 100%;
  display: grid;
  place-items: center;
}

.file-menu {
  display: block;
  width: 120px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 70px;
  background-color: rgb(107, 107, 107);
  transition: 1s all ease-in;
}

.file-menu.disabled {
  display: none;
}

.newFile, .saveFile {
  width: 100%;
  height: 50%;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.newFile:hover, .saveFile:hover {
  background-color: rgb(95, 95, 95);
}

.newFile {
  border-bottom: 1px solid rgb(63, 63, 63);
}

.more {
  position: relative;
}

.more::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  display: flex;
  height: 6px;
  width: 6px;
  border: 6px solid transparent;
  border-top: 6px solid white;
  transform: rotate(-45deg);
  right: -6px;
  bottom: -6px;
  z-index: 1;
  transition: width 1s ease-in;
}

.pencil2 {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 40px;
  transform: rotate(0deg);
  background-color: rgb(77, 77, 77);
  background-image: url(./assets/brush.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
}

.pencil2.show {
  display: block;
}

.pencil2.active {
  display: block;
  left: 0;
  z-index: 1;
  background-color: rgb(69, 69, 255);
}
